@import url('css_menu.css');

* {
    margin: 0;
    padding: 0;
}
 
body {
    background: #4e5260;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: #4e5260;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    padding: 10px;
    background: #424550;
    margin-bottom: 10px;
}

.raw {
    margin-bottom: 10px;
}

.raw .layout-column {
    float: left;
    width: 41.66666666666667%;
    margin-right: 10%;
}

.raw .layout-column:last-child{
    margin-right: 0;
}

.namebar {
    display: block;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    padding-left: 80%;
    color: #FFFFFF
}

.picturebar {
    width: 100%;
    /*left: 10%;*/
    padding-left: 10%;
    display: block;
}

.firstName {
  width: 100%;
  margin: 0;
}

.firstName:first-letter {
    color: #01DF3A
}

.surName {
  width: 100%;
  margin: 0;
}

.surName:first-letter {
    color: #01DF3A
}

img {
  display: block;
  width: 55%;
  height: auto;
}


