@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

* {
    margin: 0;
    padding: 0;
}
 
body {
    background: #4e5260;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: #4e5260;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header,
.footer {
    padding: 10px;
    background: #424550;
    margin-bottom: 10px;
}

.raw {
    margin-bottom: 10px;
}

.raw .layout-column {
    float: left;
    width: 41.66666666666667%;;
    margin-right: 20px;
}

.raw .layout-column:last-child{
    margin-right: 0;
}

.textbar{
    font-weight: 300;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    color: #FFFFFF;
    padding-top:5%;
    padding-left: 50%;
}

.picturebar {
    width: 100%;
    left: 10%;
    padding-left: 50%;
    display: block;
}

img {
  display: block;
  width: 55%;
  height: auto;
}

.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: #424550;
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #F2F2F2;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #D8D8D8;}
.menu-main a.current, .menu-main a:hover{color: #01DF3A;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #01DF3A;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
}

