@import url('css_menu.css');

* {
    margin: 0;
    padding: 0;
}
 
body {
    background: #4e5260;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: #4e5260;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header,
.footer {
    padding: 10px;
    background: #424550;
    margin-bottom: 10px;
}

.raw {
    margin-bottom: 10px;
}

.raw .layout-column {
    float: left;
    width: 41.66666666666667%;;
    margin-right: 20px;
}

.raw .layout-column:last-child{
    margin-right: 0;
}

.textbar{
    font-weight: 300;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    color: #FFFFFF;
    padding-top:5%;
    padding-left: 50%;
}

.picturebar {
    width: 100%;
    left: 10%;
    padding-left: 50%;
    display: block;
}

img {
  display: block;
  width: 55%;
  height: auto;
}
